.body {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.header_bar {
    background: #1F2937;
    font: roboto;
    color: #F9FAF8;
    flex: 1;
}

.flex-item {
    flex: 1;
}
