.body {
    margin: 0px;
    padding: 0px;
}

.header {
    background: #1F2937;
}

.card-dark {
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

.card-light-1 {
    color: white;
    flex-direction: row;
    flex: 1;
}

.image {
    width: 100px;
    height: fit-content;
}

.card-mid {
    background: #E5E7EB;
}

.card-light-2 {
    background: white;
}

.footer {
    background: #1F2937;
}

